.row_table {
    display: flex;
    justify-content: space-between;
    transition: background ease-in-out 150ms;
    padding-left: 10px;
    border-radius: 4px;
}

.row_table:hover {
    background-color: #f0f0f0;
}

.row_processing {
     border-bottom: 1px solid grey;
}

.row_complete {
    background-color: rgb(60,179,113, 0.2);
}

.tablo_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

.tablo_row > * + * {
    margin-left: 15px;
}