.tablo-order-choose > * + * {
    margin-left: 20px;
}

.block-color {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 1px 4px 2px #ccc;
}

.block-color.selected {
    border: 1px solid #6ad66a;
    box-shadow: none;
}

